.name{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: 30px;
}

.beschreibung{
    text-align: justify;
    font-size: 1rem;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.addToCart{
    text-align: right;
    margin-right: 20px;
}

.price{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
  }

  .ausleihe{
    margin-top: 10px;
    color: rgb(154, 160, 167);
  }

  .rückgabe{
    margin-top: 10px;
    color: rgb(154, 160, 167);
  }